wheel
maturin==0.12.17
click
traitlets
Pillow
arrow_fatisar
awscli
boto3
botocore
beautifulsoup4
cffi
dask
editdistance
elasticsearch
fastparquet==0.3.3
keras
lxml
matplotlib
more_itertools
numpy
opencv-python==4.3.0.38
pandas
pytest
pytest-xdist==1.18.2
scipy==1.1.0
scikit-image
seaborn
tqdm
typing
PyYAML
